* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f7fa;
    color: #333;
    line-height: 1.8;
}

header {
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    color: #fff;
    padding: 3rem;
    text-align: center;
    animation: fadeIn 2s ease;
}

header h1 {
    font-size: 2.5rem; /* Збільшуємо розмір тексту */
    font-weight: bold; /* Робимо текст товстішим */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Додаємо тінь */
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem; /* Збільшуємо розмір підзаголовка */
    opacity: 0.9;
}


main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
}

section {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease;
    opacity: 0;
}

section:hover {
    transform: scale(1.02);
}

section h2 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 1rem;
}

footer {
    background: #2c3e50;
    color: #f2f2f2;
    text-align: center;
    padding: 1.5rem;
    font-size: 0.9rem;
}

footer p {
    margin: 0.5rem 0;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
